# Local Claude settings
**/.claude/settings.local.json

node_modules
dist
target
build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

client_secret.json
.local-mcp-repos
.env

*.tsbuildinfo
